.detail {
  background-image: url("../../images/home.webp");
  background-position: center;
  background-repeat: no-repeat;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detail h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail img {
  max-width: 100%;
  margin-bottom: 10px;
}

.detail h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.detail h3:first-child {
  margin-top: 20px;
}

.detail h3:last-child {
  margin-bottom: 20px;
}
