@font-face {
  font-family: "PokemonFont";
  src: url("../../fonts/pokmon/Pokemon\ Solid.ttf") format("truetype");
}

.container {
  background-image: url("../../images/home.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.homeTitle {
  font-family: "PokemonFont", cursive;
  font-size: 36px;
  transition: font-size 0.3s ease-in-out;
  cursor: default;
}

.homeTitle:hover {
  font-size: 40px;
  color: #68ff4d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
