.container {
  background-image: url("../../images/landingpoke.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.titleContainer {
  font-family: "Press Start 2P", cursive;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
}

.title {
  color: rgb(248, 186, 0);
  font-size: 36px;
  margin: 0;
}

.buttonContainer {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.button {
  display: inline-block;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 16px 24px;
  background-color: #ccff00;
  color: rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.audioContainer {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%) scale(0.8);
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(172, 0, 0, 0.8);
  padding: 16px;
  border-radius: 8px;
}

.social a {
  margin-right: 8px;
}

.social a:last-child {
  margin-right: 0;
}

.button:hover {
  transform: scale(1.1);
}
