.search {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alinea los elementos a la derecha */
  position: absolute; /* Posición absoluta para desplazarlo */
  top: 10px; /* Ajusta la distancia desde la parte superior */
  right: 10px; /* Ajusta la distancia desde la derecha */
}

.search input {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.search input:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(242, 62, 26, 0.8);
}

.search button {
  background-color: #ff2f00;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

.createBoton {
  display: inline-block;
  margin: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.createBoton a {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: transform 0.3s;
}

.createBoton a:hover {
  transform: scale(1.1);
}

.search button:hover {
  background-color: #caff4d;
  color: black;
}
